@page "/Register"
@using DonutsGo.Shared.Users;
@inject HttpClient Http
@inject NavigationManager NavManager



   
	  	  
 <nav id="main-nav">

   <h1 class="logo">DonutsGo<br>
 </h1>
  
  <ul>
    <li><a class="active" href="login">Log In</a></li>
    <li><a href="home">Home</a></li>
    <li><a href="products">Products</a>
      <ul>
        <li><a href="donuts">Donuts</a></li>
        <li><a href="waffles">Waffles</a></li>
        <li><a href="#OSETROVNA">Drinks</a></li>
      </ul>
    </li>
    <li><a href="#DOKUMENTY">Gift Ideas</a></li>
  </ul>
	</nav

  
   <br>
   <br>
   <br>


<div class="register">
    <div class="register-triangle"></div>

    <h2 class="register-header">Register</h2>

    <EditForm class="register-container" Model="@model" OnValidSubmit="HandleRegisterAsync">
        <p><InputText @bind-Value="@model.Address" class="custom-input" placeholder="Address" /></p>
        <p><InputText @bind-Value="@model.Username" class="custom-input" placeholder="Username" /></p>
        <p><InputText @bind-Value="@model.Email" class="custom-input" type="email" placeholder="Email" /></p>
        <p><InputText @bind-Value="@model.Password" class="custom-input" type="password" placeholder="Password" /></p>
        <p><InputText @bind-Value="@model.FirstName" class="custom-input" placeholder="First name" /></p>
        <p><InputText @bind-Value="@model.LastName" class="custom-input" placeholder="Last name" /></p>
        <p><button type="submit">Register</button></p>
    </EditForm>
</div>

@code {
    private CreateUserRequestModel model = new CreateUserRequestModel();

    public async Task HandleRegisterAsync()
    {

        var response = await Http.PostAsJsonAsync("users", model);

        if (response.IsSuccessStatusCode==true)
        {
            NavManager.NavigateTo("login");
        }
        else
        {
            //bad nottification
        }

        
    }
}